@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
}

body {
    background-color: #292625;
    overflow: hidden;
}
/* Start up Page */
.start-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    width: 100%;
}

.start-page h1,
.start-page p {
    text-align: center; 
}

.start-page h1 {
    color: #E70A27;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}

.start-page p {
    color: #EAB52A;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.start-page img {
    max-width: 200px;
    display: block;
    background-color: #999999;
    position: absolute;
    animation: moveX 2s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    z-index: -1;
}

@keyframes moveX {
    from { left: 0; }
    to { left: calc(100% - 190px); } /* Adjusted to stop before reaching the right edge */
}

@keyframes moveY {
    from { top: 0; }
    to { top: calc(100vh - 200px); } /* Adjusted to stop before reaching the bottom edge of the viewport */
}


.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.hidden {
    display: none;
}

/* Bottom logo animation */


/* Game */
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.game h1 {
    margin-top: 20px;
    color: #E70A27;
    font-size: 60px;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    border-radius: 5px;
    background: #0FC0AD;
    margin: 1px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}


#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 30px;
    text-align: center;
}

.hide {
    display: none;
}

.display {
    color: #EAB52A;
    font-size: 30px;
}

/* game buttons */
button {
    transition: all 0.1s ease;
}

button:hover {
    transform: scale(1.1);
}

#restartButton {
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    background: linear-gradient(#04E474, #04E474 40%, #048C04 80%, #048444 80%);
}

#menuButton {
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    background: linear-gradient(#C8465B, #C8465B 40%, #BC0404 80%, #BC0404 80%);
}

#modes {
    margin-top: 20px;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#playerMode,
#aiMode {
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
}

#playerMode {
    background: linear-gradient(#ff3399, #ff3399 40%, #CC0066 80%, #CC0066 80%)
}

#aiMode {
    background: linear-gradient(#EAB52A, #EAB52A 40%, #CC9900 80%, #CC9900 80%);
}


/* Footer */
.credit {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center; 
}

.credit a:active::before,
.credit a:active::after,
.credit a:visited {
  color: #E70A27; 
} 

.credit a {
    text-decoration: none;
  }

.credit p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EAB52A;
}

.credit img {
    margin-left: 5px; 
    transition: transform 0.3s ease;
}

.credit img:hover {
    transform: scale(1.2) rotate(360deg);
}